ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
  color: white;
}

.mat-toolbar {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  box-sizing: inherit;
  left: 0;
  top: 0;
}

.content-wrapper {
  width: 100%;
  height: 64px;
  position: static;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

  }
}
