<!-- Toolbar -->
<div class="content-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="wrapper">
      socialblog
     <app-search *ngIf="isAuthenticated" (onSearchIconClicked)="showFriends($event)" [searchResults]="searchResults"></app-search>
      <ul>
        <li>
          <a routerLink="/auth/signUp"></a>
          <a *ngIf="isAuthenticated" mat-button routerLink="/p/chat">Chat</a>
          <a *ngIf="isAuthenticated" mat-button routerLink="/p/create"> New Post</a>
          <a *ngIf="isAuthenticated" mat-button routerLink="/p/list"> Show Post</a>
          <a *ngIf="!isAuthenticated" mat-button routerLink="/auth/login"> Login</a>
          <a *ngIf="!isAuthenticated" mat-button routerLink="/auth/signUp">Sign Up</a>
          <a (click)="onLogout()" *ngIf="isAuthenticated" mat-button>LogOut</a>
        </li>
      </ul>
    </mat-toolbar-row>

  </mat-toolbar>
</div>

