
<app-form [formGroup]="formGroup"  (submitted)="onSubmit()">
   <mat-card-title>Login Form</mat-card-title>
    <app-input-form label="Email address"
                    errorMessage="E-Mail is required"
                    [control]="getEmail()"
                    [placeholder]="getEmail().placeholder"
    ></app-input-form>
    <app-input-form label="Password"
                    errorMessage="Password is required"
                    type="password"
                    [control]="getPassword()"
                    [placeholder]="getPassword().placeholder"
    ></app-input-form>
    <app-form-actions [formGroup]="formGroup" accept="Login" reject="cancel"></app-form-actions>
</app-form>
