mat-form-field,
textarea {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}
.image-preview {
  height: 8rem;
  margin: 1rem 2rem;
  img {
    height: 100%;
  }
}
mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
